<!DOCTYPE html>
<html>
  <head>
    <title>Ryan's Records</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron"><h2>Ryan's Record Store</h2></div>
      <%= yield %>
      <a href="/albums">HOME</a>-----<a href="/albums/new">ADD NEW ALBUM</a>
    </div>
  </body>
</html>