<h4>Add a New Artist</h4>

<form action="/artists" method="post">
  <div class="form-group">
    <label for="artist_name">Enter Artist Name:</label>
    <input id="name" name="artist_name" class="form-control" type="text">
    <button type="submit" class="btn">Add Artist to Database</button>
  </div>
</form>